.background {
  background: url('/assets/homepage/phone/PAN_Phone_chat_Screen.png') no-repeat top center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #283040;
  background-repeat: no-repeat;
  min-height: 100%;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
