<div class="top_cards">
    <mat-card id="1">
      <p>
        Vehicles:
      </p>
      <p class = "big_box_text"> <strong> 2536 </strong> </p>

    </mat-card>
    <mat-card id="2">
      <p>
        General grade:
      </p>
      <p class = "big_box_text"> <strong> 87% </strong> </p>

    </mat-card>
    <mat-card id="3" matBadge="4" matBadgeOverlap="true" matBadgePosition="before" matBadgeColor="accent">
      <p>
        Actions:
      </p>
      <p class = "big_box_text"> <strong> 4 </strong> </p>

    </mat-card>
    <mat-card id="4">
      <p>
        Energy usage:
      </p>
      <p class = "big_box_text"> <strong> 5483 kWh </strong> </p>

    </mat-card>
    <mat-card id="5" matBadge="6"  matBadgeOverlap="true"  matBadgePosition="before" matBadgeColor="warn">
      <p>
        Battery alerts:
      </p>
      <p class = "big_box_text"> <strong> 6 </strong> </p>

    </mat-card>
  </div>
<body>
  <div class="row" id="wrapper">
    <mat-card class="column left" fxLayout="column">
      <div class="map" fxFlex="1 1 100%" #map>
            <agm-map [style.height.px]="map.offsetHeight" [latitude]="latitude" (zoomChange)="onMapZoomChange($event)" [longitude]="longitude" [zoom]="zoom"
            [disableDefaultUI]="false" [zoomControl]="true" [streetViewControl]="false">
              <agm-circle #circle *ngFor="let cl of clusters" [latitude]="cl.center_lat" [longitude]="cl.center_lng"
                [radius]="cl.radius" [fillColor]="fillCircleColor(cl)" [visible]="circleVisible"
                (circleClick)="onCircleClicked(cl)">
              </agm-circle>
              <div *ngIf="circleClicked">
                <agm-marker *ngFor="let item of vehicles" [label]="item.model" [latitude]="item.position_lat"
                  [longitude]="item.position_lng" (markerClick)="onVehicleChosen(item)"
                  (markerRightClick)="onMarkerRightClick(item)">
                  <agm-info-window *ngIf="chosenVehicle">
                    <strong>Status: {{ chosenVehicle._battery_id.status }}</strong>
                  </agm-info-window>
                </agm-marker>
              </div>
            </agm-map>
        </div>
    </mat-card>
    <div class="column right">
        <mat-nav-list>
            <a mat-list-item *ngFor="let vh of vehicles" (click)="onVehicleChosen(vh)">
              <div>
                <p>
                  <strong>{{ vh.model }}</strong> <br />
                  Charge: {{ vh._battery_id.charge }}%
                </p>
              </div>
            </a>
          </mat-nav-list>
      <mat-card class="chart">
        <div *ngIf="chosenClusterbool; else noCluster">
          <h3>Statistics on {{ chosenCluster.name }} hub</h3>
        </div>
        <div>
          <ng-template #noCluster>
            <div *ngIf="chosenVehiclebool; else noVehicle">
              <h3>Information on {{ chosenVehicle.model }}</h3>
              <mat-list>
                <mat-list-item>
                  Battery Model: {{ chosenVehicle._battery_id.name }} | Status:
                  {{ chosenVehicle._battery_id.status }}</mat-list-item>
                <mat-list-item>
                  Current Charge: {{ chosenVehicle._battery_id.charge }}%
                </mat-list-item>
                <mat-list-item>
                  Life-Span: {{ chosenVehicle._battery_id.life_span }}%
                </mat-list-item>
              </mat-list>
            </div>
          </ng-template>
        </div>

        <ng-template #noVehicle>
          <p>
            <strong>General information on fleets</strong><br />
            click a vehicle (on the map or left panel) to have more information
            about it
          </p>
        </ng-template>

        <mat-grid-list *ngIf="statistics" cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <div class="line_chart" style="display: block">
              <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [legend]="lineChartLegend" [chartType]="lineChartType">
              </canvas>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="line_chart" style="display: block">
              <canvas baseChart [datasets]="polarChartData" [labels]="polarChartLabels" [options]="polarChartOptions"
                [legend]="polarChartLegend" [chartType]="polarChartType">
              </canvas>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="line_chart" style="display: block">
              <canvas baseChart [datasets]="doughnutChartData" [labels]="doughnutChartLabels"
                [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType">
              </canvas>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="line_chart" style="display: block">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
</body>
