html,body {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}


.background {
  background: url('/assets/homepage/desktop/Desktop_background.png') no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-color: #2e4561;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 1024px;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
}

#home-container{
  padding: 60px;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.block1{
  width: 50%;
  height: 100%;
  display: inline-block;
  padding-bottom: 60px;
  padding-right: 0%;

}

.block2{
  height: 100%;
  padding-bottom: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.login_button{
  color: #0795ff;
  border: 2px solid #0795ff;
  margin-top: .2em;
  padding: .7em 1.7em .7em 1.7em ;
  font-size: .7em;
  border-radius: 2px;
  text-decoration: none;

}

.login_button:hover{
  color: #39a7fc;
  border: 2px solid #39a7fc;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

#panasonic_cy_logo{
  width: 100%;
  height: 10%;
}
#tablet_logo{
  width: 100%;
  height: 80%;
  padding-top: 5%;
  margin-left: -30px;
}

#content{
  font-size: x-large;
  padding-top: 20%;
  height: 60%;
  max-width: 400px;
}

#truck{
  position: fixed;
  right: 0%;
  bottom: 0;
  width: 20%;
  padding-bottom: 20px;
}

#truck_logo{
  float: right;
}
/* Tablets Landscape */
@media only screen and (max-width: 1024px) {
  .background  {
    background-image: url('/assets/homepage/tablet/Tablet_Background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-color: #2e4561;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }



  #panasonic_cy_logo{
    width: 100%;
    height: 20%;
  }

  #panasonic_logo{
    content: url('/assets/homepage/tablet/Panasonic_CY_logo_tablet.png');
  }
  #tablet_logo{
    width: 100%;
    height: 80%;
    padding-top: 5%;
    margin-left: -30px;
  }
  #content{
    font-size: large;
    padding-top: 80px;
    height: 60%;
    max-width: 320px;
  }

  #truck{
    position: fixed;
    right: 0%;
    bottom: 0;
    width: 20%;
    padding-bottom: 20px;
  }
}

/* Phones Landscape */
@media only screen and (max-width: 767px) {
  .background  {
    background: url('/assets/homepage/phone/background _iphone.png') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-color: #2e4561;
    background-repeat: no-repeat;
    max-height: 100%;
    height: auto;
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  .block1{
    padding: 0;
    width: 100%;
    height: 50%;
    max-height: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    overflow: hidden;
  }

  .block2{
    height: 50%;
    padding-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  #home-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .block1 #panasonic_cy_logo{
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  .block1 #tablet_logo{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .block2 h1{
    margin-top: 0;
  }

  #panasonic_logo{
    margin: 10%;
    margin-bottom: 0;
    padding: 0;
    width: auto;
    height: 10%;
    content: url('/assets/homepage/phone/Panasonic_CY_logo_iphone.png');
  }
  #tablet_logo{
    align-self: center;
    padding: 0;
    width:80%;
    max-width: 330px;
    height: 40%;
    margin: 10%;
    margin-bottom: 0%;
  }
  #content{
    margin: 10%;
    margin-top:2%;
    margin-right: 10%;
    padding: 0;
    font-size: large;
    vertical-align: top;
    padding-top: 0;
    height: 60%;
    width: 80%;
  }

  #truck{
    position: fixed;
    right: 0%;
    padding: 0;
    bottom: 0;
    width: 20%;
    margin-bottom: 10%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1367px){
  .background  {
    background-image: url('/assets/homepage/tablet/Tablet_Background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-color: #2e4561;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 1024px;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }



  #panasonic_cy_logo{
    width: 100%;
    height: 20%;
  }

  #tablet_logo{
    width: 100%;
    height: 80%;
    padding-top: 5%;
    margin-left: -30px;
  }
  #content{
    font-size: x-large;
    padding-top: 140px;
    height: 60%;
    max-width: 400px;
  }

  #truck{
    position: fixed;
    right: 0%;
    bottom: 0;
    width: 20%;
    padding-bottom: 20px;
  }
}
