  <body>

  <div id="home-container" class = "background">
    <div class = "block1">
      <div id = "panasonic_cy_logo">
          <a href="/">  <img id = "panasonic_logo" src = "/assets/homepage/desktop/Panasonic_CY_logo desktop.png " > </a>
      </div>
      <div id = "tablet_logo">
          <img id = "tablogo" src = "/assets/homepage/tablet/Panasonic_Mockup_Tablet.png " >
      </div>
  </div>
    <div class = "block2">
      <div id = "content">
        <h1> Unlock the full potential of your battery </h1>
        <a class="login_button" (click)= "openDialog()"> <strong> Learn More</strong> </a>
      </div>
      <div id="truck" >
          <img style="max-height: 100%; width: auto;" id = "truck_logo" src = "/assets/homepage/desktop/truck_desktop.png " >
      </div>
    </div>

  </div>
</body>
