<!--<mat-toolbar  style="height: 50px; background-color: #EEEEEE; z-index: 1000;">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon class = " material-icons md-dark" aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <img src="assets/img/FedEx_logo_orange-purple.png" class="logo">
    <span class="toolbar-spacer"></span>
    <mat-icon class="right-toolbar-icon material-icons md-dark"  aria-hidden="false" aria-label="alert icon">notification_important</mat-icon>
    <mat-icon class="right-toolbar-icon material-icons md-dark" aria-hidden="false" aria-label="account icon">person</mat-icon>
  </mat-toolbar>  -->


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon class = " material-icons md-dark" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list class="mat-list-base">
        <button type="button" mat-icon-button (click)="drawer.toggle()"><mat-icon class="material-icons md-dark">notification_important</mat-icon></button>
        <button type="button" mat-icon-button (click)="drawer.toggle()"><mat-icon class="material-icons md-dark">person</mat-icon></button>
    </mat-nav-list>

    <mat-nav-list class="mat-list-base bottom">
        <button type="button" mat-icon-button (click)="drawer.toggle()"><mat-icon class="material-icons md-dark">panorama_fish_eye</mat-icon></button>
        <button type="button" mat-icon-button (click)="drawer.toggle()"><mat-icon class="material-icons md-dark">panorama_fish_eye</mat-icon></button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">



    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
