.sidenav-container {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.sidenav {
  background-color: #222937;
  border-color: transparent;
  width: fit-content;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.logo {
  height: 25px;
}

.right-toolbar-icon {
  padding: 0 14px;
}

.sidenav-content{
  height: 100%;
}

.mat-list-base {
  padding-top: 8px;
  display: flex!important;
  align-items: center!important;
  flex-direction: column!important;
  -webkit-tap-highlight-color: transparent;
}

.bottom{
  padding-bottom: 16px;
  width: inherit;
  position: absolute;
  bottom: 0;
}



.material-icons.md-dark {
  background-position: center;
  padding: 0;
  color: #ffffff;
}
.material-icons.md-dark.md-inactive {
  color: #ffffff;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
