<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<body>
  <div class="row" id="wrapper">
    <div class = "left_div">
        <div class="top_cards">
            <mat-card id="1" class="mat-elevation-z0">
                <p class = "big_box_text"> <strong> {{numberOfVehicles}} </strong> </p>

              <p class = "label_text">
                Vehicles
              </p>

            </mat-card>
            <mat-card id="2" class="mat-elevation-z0">
                <p class = "big_box_text"> <strong> {{tcoSavings}} </strong> </p>

              <p class = "label_text">
                TCO Savings
              </p>

            </mat-card>
            <mat-card id="4" class="mat-elevation-z0">
                <p class = "big_box_text"> <strong> {{criticalBatteries}} </strong> </p>

              <p class = "label_text">
                Critical issues
              </p>

            </mat-card>
            <mat-card id="5" class="mat-elevation-z0" matBadge="6"  matBadgeOverlap="true"  matBadgePosition="before" matBadgeColor="warn">
                <p class = "big_box_text"> <strong> {{numberOfAlerts}} </strong> </p>

              <p class = "label_text">
                Battery alerts
              </p>

            </mat-card>
          </div>
    <mat-card class="column left mat-elevation-z0" fxLayout="column">


      <ng-template #OpenbackButton >
          <div class="time_slider">
              <button class = "backButton" mat-button (click) = "onBackButton()"><mat-icon>arrow_back</mat-icon></button>
            </div>
      </ng-template>

      <ng-template #backButtonNslider>
          <div class="time_slider">
              <button class = "backButton" mat-button (click) = "onBackButton()"><mat-icon>arrow_back</mat-icon></button>
              <mat-slider  class="slider" [max]="max_slider_date" [min]="min_slider_date" [(ngModel)]="slider_date_value"
                [thumbLabel]="thumbLabel" (change)="sliderEvent()"></mat-slider>
            </div>
      </ng-template>

      <div class="line_chart" *ngIf="statistics; else nostat">
          <div class="time_slider" *ngIf="sliderVisible; else backButtonNslider">
              <h4>Projections</h4>
              <mat-slider  class="slider" [max]="max_slider_date" [min]="min_slider_date" [(ngModel)]="slider_date_value"
                [thumbLabel]="thumbLabel" (change)="sliderEvent()"></mat-slider>
            </div>
        <canvas #lineChart="base-chart" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [legend]="lineChartLegend" (chartClick)="onChartClicked($event)"[chartType]="lineChartType">

        </canvas>
      </div>

      <ng-template #nostat >
        <table style="height: 50%;"></table>
      </ng-template>


      <div *ngIf="chosenClusterbool; else noCluster">
        <h4>Statistics on {{ chosenCluster.name }} hub</h4>
        <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon style="padding-right: 5px" class="example-tab-icon">battery_unknown</mat-icon>
                Satus
              </ng-template>
              Content 1
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon style="padding-right: 5px" class="example-tab-icon">build</mat-icon>
                Intervention
              </ng-template>
              Content 2
            </mat-tab>
          </mat-tab-group>
      </div>
      <div>
        <ng-template #noCluster>
          <div *ngIf="chosenVehiclebool; else noVehicle">
              <mat-tab-group>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon style="padding-right: 5px" class="example-tab-icon">battery_unknown</mat-icon>
                      Satus
                    </ng-template>
                    <div class="status_content">
                      <table>
                            <tbody>
                              <tr>
                                <td><strong>Model:</strong> {{chosenVehicle.model}}</td>
                                <td><strong>Age:</strong>  //insert here</td>
                              </tr>
                              <tr>
                                <td><strong>Current Charge:</strong> {{ chosenVehicle._battery_id.charge }}%</td>
                                <td><strong>Place:</strong> //insert position here</td>
                              </tr>
                              <tr>
                                <td><strong>Speed of charge:</strong> //insert here</td>
                                <td><strong>Average T:</strong> //insert here</td>
                              </tr>
                              <tr>
                                  <td><strong>Number of miles:</strong> //insert here</td>
                                  <td><strong>Type of route:</strong> //insert here</td>
                                </tr>
                            </tbody>
                      </table>
                      <div class="status_cards">
                          <mat-card id="1" class="mat-elevation-z0">
                              <p class = "big_box_text"> <strong> {{numberOfVehicles}} </strong> </p>

                            <p class = "label_text">
                              Vehicles
                            </p>

                          </mat-card>
                          <mat-card id="2" class="mat-elevation-z0">
                              <p class = "big_box_text"> <strong> {{tcoSavings}} </strong> </p>

                            <p class = "label_text">
                              TCO Savings
                            </p>

                          </mat-card>
                          <mat-card id="4" class="mat-elevation-z0">
                              <p class = "big_box_text"> <strong> {{criticalBatteries}} </strong> </p>

                            <p class = "label_text">
                              Critical issues
                            </p>

                          </mat-card>
                          <mat-card id="5" class="mat-elevation-z0" matBadge="6"  matBadgeOverlap="true"  matBadgePosition="before" matBadgeColor="warn">
                              <p class = "big_box_text"> <strong> {{numberOfAlerts}} </strong> </p>

                            <p class = "label_text">
                              Battery alerts
                            </p>

                          </mat-card>
                        </div>
                    </div>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon style="padding-right: 5px" class="example-tab-icon">build</mat-icon>
                      Intervention
                    </ng-template>
                    <div class="status_content">
                    <table #dtable class="mytable" >
                        <thead>
                          <tr>
                            <th>Options</th>
                            <th>TCO Impact</th>
                            <th>Confirm</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th class="mdl-data-table__cell--non-numeric">Option 1 here</th>
                            <td>+20%</td>
                            <td><button mat-button><mat-icon>done</mat-icon></button></td>
                          </tr>
                          <tr>
                              <th class="mdl-data-table__cell--non-numeric">Option 2 here</th>
                              <td>+12%</td>
                              <td><button mat-button><mat-icon>done</mat-icon></button></td>
                          </tr>
                          <tr>
                              <th class="mdl-data-table__cell--non-numeric">Option 3 here</th>
                              <td>+23%</td>
                              <td><button mat-button><mat-icon>done</mat-icon></button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-tab>
                </mat-tab-group>
            <!--<h4>Information on {{ chosenVehicle.model }}</h4>
            <mat-list>
              <mat-list-item>
                Battery Model: {{ chosenVehicle._battery_id.name }} | Status:
                {{ chosenVehicle._battery_id.status }}</mat-list-item>
              <mat-list-item>
                Current Charge: {{ chosenVehicle._battery_id.charge }}%
              </mat-list-item>
              <mat-list-item>
                Life-Span: {{ chosenVehicle._battery_id.life_span }}%
              </mat-list-item>
            </mat-list>-->
          </div>
        </ng-template>
      </div>

      <ng-template #noVehicle>
        <h4>Portfolio Overview</h4>
        <div class="data_table">
        <table #dtable class="mytable" >
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric"></th>
                <th>Portfolio Average</th>
                <th>Top 20%</th>
                <th>Bottom 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Battery Health</th>
                <td>+2%</td>
                <td>+10%</td>
                <td>-10%</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Battery Value</th>
                <td>10K (+3%)</td>
                <td>14K (+10%)</td>
                <td>8K (-7%)</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Energy Cost per mile</th>
                <td>11 cents/mi (0%)</td>
                <td>8 cents/mi (-20%)</td>
                <td>13 cents/mi (+25%)</td>
              </tr>
              <tr class="lastrow">
                  <th class="mdl-data-table__cell--non-numeric">Grid Service revenue</th>
                  <td>8K (+2%)</td>
                  <td>10K (+15%)</td>
                  <td>5K (-30%)</td>
                </tr>
            </tbody>
          </table>
        </div>
      </ng-template>

    </mat-card>
  </div>

    <div class="right_div">
    <mat-card class="column right mat-elevation-z0" fxLayout="column">
      <div fxFlex="1 1 100%" #map>
        <agm-map [style.height.px]="map.offsetHeight" [latitude]="latitude" [styles]="darkStyle" [gestureHandling]="'greedy'"
          (zoomChange)="onMapZoomChange($event)" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false"
          [zoomControl]="true" [streetViewControl]="false">
          <agm-circle #circle *ngFor="let cl of clusters" [latitude]="cl.center_lat" [longitude]="cl.center_lng"
            [radius]="cl.radius" [fillColor]="fillCircleColor(cl)" [visible]="circleVisible"
            (circleClick)="onCircleClicked(cl)">
          </agm-circle>
          <div *ngIf="circleClicked">
            <agm-marker *ngFor="let item of vehicles" [latitude]="item.position_lat"
              [longitude]="item.position_lng" (markerClick)="onVehicleChosen(item)">
              <agm-info-window *ngIf="chosenVehicle">
                <strong>Status: {{ chosenVehicle._battery_id.status }}</strong>
              </agm-info-window>
            </agm-marker>
          </div>
        </agm-map>
      </div>
      <h4> Vehicle List</h4>
      <div class="filters dark-theme-container">
        <h4>Filters</h4>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <mat-select>
            <mat-option>
              Name1
            </mat-option>
            <mat-option>
              Name2
            </mat-option>
            <mat-option>
              Name3
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select>
            <mat-option>
              Status1
            </mat-option>
            <mat-option>
              Status2
            </mat-option>
            <mat-option>
              Status3
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Battery</mat-label>
          <mat-select>
            <mat-option>
              Battery1
            </mat-option>
            <mat-option>
              Battery2
            </mat-option>
            <mat-option>
              Battery3
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="list_of_vehicles">
        <mat-accordion class="mat-elevation-z0">
          <mat-expansion-panel class="vehicle_list" *ngFor="let vh of vehicles" (click)="onVehicleChosen(vh)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ vh.model }}
              </mat-panel-title>
              <mat-panel-description style="flex: 0 0 auto;">
                Charge: {{ vh._battery_id.charge }}%
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Additional information about vehicle goes here</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
  </div>
  </div>
</body>
