<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<body>
  <div class="row" id="wrapper">
    <div class = "left_div">
      <div class="logo_div">
          <a href="/"><img src="assets/img/Panasonic_CY_logo.png" class="logo"></a>
      </div>
        <div class="top_cards">
            <mat-card class="mat-elevation-z0">
                <p class = "big_box_text"> <strong> {{numberOfVehicles}} </strong> </p>

              <p *ngIf="viewCluster && chosenCluster; else clusterTot" class = "label_text">
                  Vehicles in Hub
              </p>
              <ng-template #clusterTot>
                  <p class = "label_text">
                    Vehicles in View
                    </p>
              </ng-template>

            </mat-card>
            <mat-card class="mat-elevation-z0">
                <p class = "big_box_text"> <strong> {{tcoSavings}} </strong> </p>

              <p class = "label_text">
                TCO Savings
              </p>

            </mat-card>
            <mat-card matRipple id="4" class="mat-elevation-z0" (click)="topCardClicked('4')">
                <p *ngIf="criticalBatteries>0; else nocritical" class = "big_box_text" matBadge="6"  matBadgeOverlap="false"  matBadgePosition="before" matBadgeColor="warn"> <strong> {{criticalBatteries}} </strong> </p>
              <ng-template #nocritical>
                <p class = "big_box_text"> <strong> {{criticalBatteries}} </strong> </p>
              </ng-template>
              <p class = "label_text">
                Critical issues
              </p>

            </mat-card>
            <mat-card matRipple id="5" class="mat-elevation-z0" (click)="topCardClicked('5')">
                <p class = "big_box_text"> <strong> {{numberOfAlerts}} </strong> </p>

              <p class = "label_text">
                Actions
              </p>

            </mat-card>
          </div>
    <mat-card class="column left mat-elevation-z0" fxLayout="column">


      <ng-template #OpenbackButton >
          <div class="time_slider">
              <button class = "backButton" mat-icon-button (click) = "onBackButton()"><mat-icon>arrow_back</mat-icon></button>
              <h4 style="margin-left: 40px;">{{chosenVehicle.model}}</h4>

            </div>
      </ng-template>

      <ng-template #backButtonNslider >
          <div class="time_slider" *ngIf="viewCluster; else OpenbackButton">
              <button class = "backButton" mat-icon-button (click) = "onBackButton()"><mat-icon>arrow_back</mat-icon></button>
              <h4 *ngIf="chosenCluster" style="margin-left: 40px"> {{chosenCluster.name}} Depot</h4>
              <label class="slider_title"> Battery Age: </label>
              <label class="legend_left">{{min_slider_date}} year </label>
              <mat-slider  class="slider" [max]="max_slider_date" [min]="min_slider_date" [(ngModel)]="slider_date_value"
                [thumbLabel]="thumbLabel" (change)="sliderEvent()"></mat-slider><label class="legend_right">{{max_slider_date}} years</label>
            </div>
      </ng-template>

      <div class="line_chart" style="max-height: 50%;" *ngIf="statistics; else nostat">
          <div class="time_slider" *ngIf="viewGeneral; else backButtonNslider">
              <h4>Portfolio Status</h4>
              <label class="slider_title"> Battery Age: </label>
              <label class="legend_left">{{min_slider_date}} year</label><mat-slider  class="slider" [max]="max_slider_date" [min]="min_slider_date" [(ngModel)]="slider_date_value"
                [thumbLabel]="thumbLabel" (change)="sliderEvent()"></mat-slider><label class="legend_right">{{max_slider_date}} years</label>
            </div>
        <canvas style = "height: 100%; padding-top: 20px; padding-bottom: 20px;" #lineChart="base-chart" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [legend]="lineChartLegend" (chartClick)="onChartClicked($event)"[chartType]="lineChartType">

        </canvas>
      </div>

      <ng-template #nostat >
        <table style="height: 50%;"></table>
      </ng-template>

          <div style="height: 50%; max-height: 50%;" *ngIf="viewVehicle; else noVehicle">
              <mat-tab-group class="vehicle_details_tabs">
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon style="margin-right: 8px" class="example-tab-icon">show_chart</mat-icon>
                      Status
                    </ng-template>
                    <div class="status_content">
                      <table>
                            <tbody>
                              <tr>
                                <td><strong>Model:</strong> {{chosenVehicle.model}}</td>
                                <td><strong>Battery Type:</strong>  {{chosenVehicle._battery_id.name}}</td>
                              </tr>
                              <tr>
                                <td><strong>Age:</strong>  {{chosenVehicle.age}} months</td>
                                <td><strong>Region:</strong>  {{ chosenVehicle.cluster.name }}</td>
                              </tr>
                              <tr>
                                  <tr>
                                      <td><strong>Battery Health:</strong>  {{chosenVehicle._battery_id.life_span}}%</td>
                                      <td><strong>Mileage:</strong> {{chosenVehicle.distance}} miles (+10%)</td>
                                    </tr>
                                    <tr>
                                <td><strong>~ Charging Speed:</strong> 66 kW (+{{ chosenVehicle._battery_id.charge }})%</td>
                                <td><strong>~ Depth of Discharge:</strong> 65 kW (+13%)</td>
                              </tr>
                              <tr>
                                <td><strong>TCO Savings:</strong> USD -3,500 (-5%)</td>
                                <td></td>

                              </tr>
                            </tbody>
                      </table>
                      <!--<div class="status_cards">
                          <mat-card id="1" class="mat-elevation-z0">
                              <p class = "big_box_text"> <strong> ${{chosenVehicle.batteryValue}} </strong> </p>

                            <p class = "label_text">
                              Battery Value
                            </p>

                          </mat-card>
                          <mat-card id="2" class="mat-elevation-z0">
                              <p class = "big_box_text"> <mat-icon *ngIf="chosenVehicle._battery_id.charge > 25 && chosenVehicle._battery_id.charge < 70; else badDriver"[ngStyle]="{'color':'green'}">thumb_up</mat-icon> </p>
                              <ng-template #badDriver>
                                <p class = "big_box_text"> <mat-icon [ngStyle]="{'color':'red'}">thumb_down</mat-icon> </p>
                              </ng-template>
                            <p class = "label_text">
                              Driver's Behaviour
                            </p>

                          </mat-card>
                          <mat-card id="4" class="mat-elevation-z0">
                              <p class = "big_box_text"> <strong>-3,500 (-5%) </strong> </p>

                            <p class = "label_text">
                                TCO Savings
                            </p>

                          </mat-card>
                          <mat-card id="5" class="mat-elevation-z0">
                              <p class = "big_box_text"> <strong> 8.13¢/kWh </strong> </p>

                            <p class = "label_text">
                              Grid Services
                            </p>

                          </mat-card>
                        </div>-->
                    </div>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon style="margin-right: 8px" class="example-tab-icon2">build</mat-icon>
                      Intervention
                    </ng-template>
                    <div class="status_content">
                    <table #dtable class="mytable" >
                        <thead>
                          <tr>
                            <th>Options</th>
                            <th>TCO Savings</th>
                            <th>Confirm</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th class="mdl-data-table__cell--non-numeric">Limit daily mileage: 47 miles </th>
                            <td>USD 1000 (+1%)</td>
                            <td><button id="1" mat-icon-button [ngStyle]="{'color': interventionBtnValues[1] === true ? '#c1ff04' : '#d1dae5'}" (click)="changeButtonColor($event)"><mat-icon id="1">done</mat-icon></button></td>
                          </tr>
                          <tr>
                              <th class="mdl-data-table__cell--non-numeric">Trim vehicles performance</th>
                              <td>USD 2000 (+2%)</td>
                              <td><button id="2" mat-icon-button [ngStyle]="{'color': interventionBtnValues[2] === true ? '#c1ff04' : '#d1dae5'}" (click)="changeButtonColor($event)"><mat-icon id="2">done</mat-icon></button></td>
                          </tr>
                          <tr>
                              <th class="mdl-data-table__cell--non-numeric">Prioritize low duty routes</th>
                              <td>USD 300 (+0.3%)</td>
                              <td><button id="3" mat-icon-button [ngStyle]="{'color': interventionBtnValues[3] === true ? '#c1ff04' : '#d1dae5'}" (click)="changeButtonColor($event)"><mat-icon id="3">done</mat-icon></button></td>
                          </tr>
                          <tr>
                              <th class="mdl-data-table__cell--non-numeric">Limit charging speed: 35kW</th>
                              <td>USD 1000 (+1%)</td>
                              <td><button id="4" mat-icon-button [ngStyle]="{'color': interventionBtnValues[4] === true ? '#c1ff04' : '#d1dae5'}" (click)="changeButtonColor($event)"><mat-icon id="4">done</mat-icon></button></td>
                          </tr>
                          <tr>
                              <th class="mdl-data-table__cell--non-numeric">Change Location: Orlando, FL</th>
                              <td>USD 100 (+0.1%)</td>
                              <td><button id="5" mat-icon-button [ngStyle]="{'color': interventionBtnValues[5] === true ? '#c1ff04' : '#d1dae5'}" (click)="changeButtonColor($event)"><mat-icon id="5">done</mat-icon></button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-tab>
                </mat-tab-group>
          </div>

      <ng-template #noVehicle>
        <!-- <table style="height: 20px;"></table> -->
        <div class="data_table">
        <table #dtable class="mytable" >
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric"></th>
                <th>Portfolio Average</th>
                <th>Top 20%</th>
                <th>Bottom 20%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Battery Health</th>
                <td>{{battery_health_portfolio}}</td>
                <td>{{battery_health_top20}}</td>
                <td>{{battery_health_bottom20}}</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Battery Value</th>
                <td>{{battery_value_portfolio}}</td>
                <td>{{battery_value_top20}}</td>
                <td>{{battery_value_bottom20}}</td>
              </tr>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Energy Cost per mile</th>
                <td>{{energy_cost_portfolio}}</td>
                <td>{{energy_cost_top20}}</td>
                <td>{{energy_cost_bottom20}}</td>
              </tr>
              <tr class="lastrow">
                  <th class="mdl-data-table__cell--non-numeric">Grid Service revenue</th>
                  <td>{{grid_service_revnue_portfolio}}</td>
                  <td>{{grid_service_revnue_top20}}</td>
                  <td>{{grid_service_revnue_bottom20}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </ng-template>

    </mat-card>
  </div>

    <div class="right_div">
    <mat-card class="column right mat-elevation-z0" fxLayout="column">
      <div fxFlex="1 1 100%" #map>
        <agm-map [style.height.px]="map.offsetHeight" [latitude]="latitude" [styles]="darkStyle" [gestureHandling]="'greedy'"
          (zoomChange)="onMapZoomChange($event)" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false"
          [zoomControl]="true" [streetViewControl]="false">
          <div *ngIf="viewGeneral">
            <agm-circle #circle *ngFor="let cl of clusters" [latitude]="cl.center_lat" [longitude]="cl.center_lng"
              [radius]="cl.radius" [fillColor]="fillCircleColor(cl)" [visible]="circleVisible"
              (circleClick)="onCircleClicked(cl)">
            </agm-circle>
        </div>
          <div *ngIf="viewCluster; else displayVehiclePos">
            <agm-marker *ngFor="let item of currentVehicles" [latitude]="item.position_lat"
              [longitude]="item.position_lng" (markerClick)="onVehicleChosen(item)" [iconUrl]="{url: '/assets/img/pin_icon.png', scaledSize: {width: 34, height: 43}}">
              <agm-info-window *ngIf="chosenVehicle">
                <strong>Status: {{ chosenVehicle._battery_id.status }}</strong>
              </agm-info-window>
            </agm-marker>
          </div>
          <ng-template #displayVehiclePos>
              <div *ngIf="viewVehicle">
                  <agm-marker [latitude]="chosenVehicle.position_lat"
                    [longitude]="chosenVehicle.position_lng" (markerClick)="onVehicleChosen(chosenVehicle)" [iconUrl]="{url: '/assets/img/pin_icon.png', scaledSize: {width: 34, height: 43}}">
                  </agm-marker>
                </div>
          </ng-template>
        </agm-map>
      </div>
      <h4 *ngIf="viewVehicle; else vehicleList"> Selected Vehicle </h4>
      <ng-template #vehicleList>
          <h4> Vehicle List</h4>
      </ng-template>
      <div class="filters dark-theme-container">
        <h4>Filter by:</h4>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <mat-select [(ngModel)]="ageOrder" (selectionChange)="onFilterChanged(ageOrder)">
              <mat-option value= "age0">
                  All
              </mat-option>
            <mat-option value = "age1">
                Past year
            </mat-option>
            <mat-option value = "age2">
              Past 3 years
            </mat-option>
            <mat-option value = "age3">
              Past 5 years
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Region</mat-label>
          <mat-select [(ngModel)]="regionOrder" (selectionChange)="onFilterChanged(regionOrder)">
              <mat-option value= "region0">
                  All
              </mat-option>
            <mat-option *ngFor="let cl of clusters" value = "region{{cl.name}}">
              {{cl.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Health</mat-label>
          <mat-select [(ngModel)]="healthOrder" (selectionChange)="onFilterChanged(healthOrder)">
              <mat-option  value= "health0">
                  All
              </mat-option>
            <mat-option value = "health1">
              < 20%
            </mat-option>
            <mat-option value = "health2">
              20% - 50%
            </mat-option>
            <mat-option value = "health3">
              50% - 80%
            </mat-option>
            <mat-option value = "health4">
               > 80%
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="list_of_vehicles">
        <mat-accordion class="mat-elevation-z0">
          <mat-expansion-panel class="vehicle_list" *ngFor="let vh of currentVehicles" (opened)="calculateAge(vh)">
            <mat-expansion-panel-header >
              <mat-panel-title style="min-width:50%; display:table-cell; text-align: center; vertical-align: middle;">
                {{ vh.model }}
              </mat-panel-title>
              <mat-panel-description #vhdescription [style.color]="getColor(vh)" style="width: 50%; display:table-cell; flex: 0 0 auto; text-align: center; vertical-align: middle;" >
                Battery Health: {{ vh._battery_id.life_span }}%
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style = "display: flex; flex-direction: row; height: 100px;">
              <div class = "around_image" style="width: 50%; display:table-cell; vertical-align:middle; text-align: center;">
               <img width="183px" height="100px"  src="assets/img/Truck_2.png" class="vehicle_image">
              </div>
              <div style="width: 50%; display:flex; flex-direction: column; align-items: center;">
                <div style="text-align: left;">
                  <p *ngIf="ageChosenVehicle>1; else yearvehicle"><span  style="color:#dce3eb">Age:</span> {{ageChosenVehicle}} years</p>
                  <ng-template #yearvehicle>
                    <p *ngIf="ageChosenVehicle===1; else youngvehicle" ><span style="color:#dce3eb">Age:</span> {{ageChosenVehicle}} year</p>
                  </ng-template>
                  <ng-template #youngvehicle>
                    <p><span style="color:#dce3eb">Age:</span> {{ageChosenVehicle}} months</p>
                  </ng-template>
                  <p><span style="color:#dce3eb">Region:</span> {{vh.cluster.name}}</p>
                  <p><span style="color:#dce3eb">Charge:</span> {{vh._battery_id.charge}}%</p>
                </div>
              </div>

          </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
  </div>
  </div>
</body>
