* {
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.logo_div{
  width: 150px;
  padding-bottom: 10px;
}

.logo{
  display: block;
  width: 100%;
  height: auto;
}
.top_cards {
  margin: 0;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  height: 13%;
}

.top_cards p{
  margin: 5px;
  color: #dce3eb;
}
.big_box_text {
  margin: 5px;
  font-size: 22px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.label_text {
  margin: 5px;
  position: absolute;
  bottom: 0;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.top_cards mat-card {
  background-color: #2b3548;
  color: #ffffff;
  padding: 5px;
  width: 23%;
}

.column {
  float: left;
}

.left {
  background-color: #283040;
  color: #ffffff;
  flex-grow : 1;
  padding:10px;
  padding-bottom: 0;
  width: 100%;
  height: 87%;
}

.right {
  background-color: #283040;
  color: #ffffff;
  padding:0%;
  width: 100%;
  height: 100%;
}

.right h4{
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

.left_div{
  display: flex;
  flex-flow: column;
  position: relative;
  padding: 15px;
  width: 50%;
  flex-grow: 1;
  height: 100%;
}

.right_div{
  position: relative;
  padding: 15px;
  padding-left: 0;
  width: 40%;
  flex-grow: 1;
  height: 100%;
}

.map{
  padding: 0%;
  margin: 0%;
  display: inline-block;
  width: 100%;
  height: 300px;
}


.chart{
  margin: 0%;
  min-height: 460px;
  height: 100%;
  padding: 0%;
}
.chart h3{
  margin-top: 0%;
}

.line_chart{
  width: 100%;
  height: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  height: inherit;
  width: inherit;
}
#wrapper {
  background-color: #283040;
  display:-webkit-flex;
  -webkit-justify-content:center;
  display:flex;
  justify-content:center;
  margin: 0;
}

.filters{
  background-color: #283040;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: fit-content;
}


mat-form-field{
  width: 20%;
}
.filters h4{
  padding-top: 7px;
  color: #ffffff;
}

.time_slider{
  padding: 10px;
  display: flex;
  vertical-align: middle;
  height: fit-content;
  width: 100%;
}

.time_slider h4{
  top: 0;
  margin-top: 0;
  padding-left: 10px;
  margin-top: 12px;
  position: absolute;
  left:0;
}

.text-small{
  font-size: small;
}





.slider, .legend_left, .legend_right, .slider_title{
  position: absolute;
  right:0;
  padding: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 16px;
}
.legend_left, .legend_right, .slider_title{
  margin-top: 22px;
  font-size: 11px;
  color: #8c99af;
}

.slider_title {
  color: #ffffff;
  margin-top: 32px;
  padding-right: 140px;

}
.legend_left{
  padding-right: 100px;
}

.list_of_vehicles{
  border-color: transparent;
  position: absolute;
  width: 100%;
  font-size: 9px;
  top: 450px;
  bottom: 0;
  overflow-y:auto;
}

.vehicle_list{
  font-size: 12px;
}
mat-accordion
mat-expansion-panel
mat-expansion-panel-header
{
  border-top: 1.5px solid #252a39!important;

  font-size: 12px;
  background-color: #283040;
  background: #283040;
  color: #dce3eb!important;
}
.mat-expansion-panel-header-title{
  color: #dce3eb;
}

.backButton{
  position: absolute;
  top:0;
  left:0
}

.mat-expansion-panel-header-description{
  color: #dce3eb;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background: #2b3548;
}


.mytable{
  overflow: auto;
}

.mytable tr{
  line-height: 45px;
  border-top: 1.5px solid #283040;
  border-bottom: 1.5px solid #4b5468;
  background-color: #252a39;
}

.mytable th:first-child{
  padding-left:15px;
}

.mytable > thead > tr > th{
  color:white;
}

.mytable > tbody> tr:last-child {
  border-bottom: none;
}

.status_content > table > tbody> tr:last-child {
  border-bottom: none;
}



.mytable > tbody > tr > th{
 padding-left: 15px;
}

.data_table{
  padding-top: 10px;
  height: 50%;
  display: flex;
  overflow: auto;
  justify-content: center;
  width: 100%;
}

.mytable{
  align-self: center;
  width: 100%;
  text-align: left;
  color: white;
  border-collapse:collapse;

}
.mytable td {
  color: #d1dae5;
}

.example-tab-icon{
  transform: scale(0.8);
}

.example-tab-icon2{
  transform: scale(0.7);
}
.mat-option,
.mat-option-ripple mat-ripple
 {
  background-color: #2b3548!important;
}

.status_content, .status_content mat-list-item {
  font-size: 12px;
}

.status_content table {
  width: 100%;
  text-align: left;
  color: white;
  border-collapse:collapse;
}

.vehicle_details_tabs{
  display: flex;
  vertical-align: middle;
  align-self: center;
  height:100%;
  max-height: 100%;
  width: 100%;
  overflow: auto;
}



.status_content table tr td:first-child {
  padding-left:15px;
}

.status_content strong{
  color: #ffffff;
}

.status_content tr{
  color: #d1dae5;
  line-height: 45px;
  border-top: 1.5px solid #283040;
  border-bottom: 1.5px solid #4b5468;
  background-color: #252a39;
}
.status_cards {
  margin: 0;
  background-color: #4b5468;
  padding:0;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.status_cards p{
  margin: 5px;
}
.status_cards .big_box_text {
  margin: 5px;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.label_text {
  margin: 5px;
  position: absolute;
  bottom: 0;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

.status_cards mat-card {
  background-color: #252a39;
  color: #ffffff;
  height: 100%;
  padding: 5px;
  width: 24.8%;
}
agm-map{
  margin: 0%;
  height: 360px;
  width: 100%;
}

agm-map > div {
  border-radius: 10px;
}

around_image {
  text-align: center;
  width: 50%;
}
vehicle_image {
  max-height:183px;
  max-width: 100px;

}
