<body>
  <div class="row" id="wrapper">
    <div class = "left_div">
        <div class="top_cards">
            <mat-card id="1">
                <p class = "big_box_text"> <strong> 2536 </strong> </p>

              <p class = "label_text">
                Vehicles
              </p>

            </mat-card>
            <mat-card id="2">
                <p class = "big_box_text"> <strong> 87% </strong> </p>

              <p class = "label_text">
                General grade
              </p>

            </mat-card>
            <mat-card id="4">
                <p class = "big_box_text"> <strong> 5483K </strong> </p>

              <p class = "label_text">
                BPV
              </p>

            </mat-card>
            <mat-card id="5" matBadge="6"  matBadgeOverlap="true"  matBadgePosition="before" matBadgeColor="warn">
                <p class = "big_box_text"> <strong> 6 </strong> </p>

              <p class = "label_text">
                Battery alerts
              </p>

            </mat-card>
          </div>
    <mat-card class="column left" fxLayout="column">
        <h3>Projections</h3>

      <ng-template #backButton>
          <button mat-button (click) = "onBackButton()"><mat-icon>arrow_back</mat-icon></button>
      </ng-template>

      <div class="line_chart" *ngIf="statistics">
          <div class="time_slider" *ngIf="sliderVisible; else backButton">
              <span class="text-small">{{min_slider_date}} year</span><mat-slider  class="slider" [max]="max_slider_date" [min]="min_slider_date" [(ngModel)]="slider_date_value"
                [thumbLabel]="thumbLabel" (change)="sliderEvent()"></mat-slider><span class="text-small">{{max_slider_date}} years</span>
            </div>
        <canvas #lineChart="base-chart" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [legend]="lineChartLegend" (chartClick)="onChartClicked($event)"[chartType]="lineChartType">

        </canvas>
      </div>

      <!-- <ng-template #general>
        <div class="line_chart">
          <canvas #baseChart baseChart [datasets]="lineChartData2" [labels]="lineChartLabels2" [options]="lineChartOptions2"
            [legend]="lineChartLegend2" [chartType]="lineChartType2">
          </canvas>
        </div>
      </ng-template> -->

      <!--
        <mat-grid-list *ngIf="statistics" cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="line_chart" style="display: block">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [legend]="lineChartLegend" [chartType]="lineChartType">
            </canvas>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="line_chart" style="display: block">
            <canvas baseChart [datasets]="polarChartData" [labels]="polarChartLabels" [options]="polarChartOptions"
              [legend]="polarChartLegend" [chartType]="polarChartType">
            </canvas>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="line_chart" style="display: block">
            <canvas baseChart [datasets]="doughnutChartData" [labels]="doughnutChartLabels"
              [options]="doughnutChartOptions" [legend]="doughnutChartLegend" [chartType]="doughnutChartType">
            </canvas>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="line_chart" style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    -->

      <div *ngIf="chosenClusterbool; else noCluster">
        <h3>Statistics on {{ chosenCluster.name }} hub</h3>
      </div>
      <div>
        <ng-template #noCluster>
          <div *ngIf="chosenVehiclebool; else noVehicle">
            <h3>Information on {{ chosenVehicle.model }}</h3>
            <mat-list>
              <mat-list-item>
                Battery Model: {{ chosenVehicle._battery_id.name }} | Status:
                {{ chosenVehicle._battery_id.status }}</mat-list-item>
              <mat-list-item>
                Current Charge: {{ chosenVehicle._battery_id.charge }}%
              </mat-list-item>
              <mat-list-item>
                Life-Span: {{ chosenVehicle._battery_id.life_span }}%
              </mat-list-item>
            </mat-list>
          </div>
        </ng-template>
      </div>

      <ng-template #noVehicle>
        <h3>Statistics</h3>
        <mat-divider></mat-divider>

        <p>
          click a vehicle (on the map or left panel) to have more information
          about it
        </p>
      </ng-template>
    </mat-card>
  </div>

    <div class="right_div">
    <mat-card class="column right" fxLayout="column">
      <div fxFlex="1 1 100%" #map>
        <agm-map [style.height.px]="map.offsetHeight" [latitude]="latitude" [styles]="darkStyle" [gestureHandling]="'greedy'"
          (zoomChange)="onMapZoomChange($event)" [longitude]="longitude" [zoom]="zoom" [disableDefaultUI]="false"
          [zoomControl]="true" [streetViewControl]="false">
          <agm-circle #circle *ngFor="let cl of clusters" [latitude]="cl.center_lat" [longitude]="cl.center_lng"
            [radius]="cl.radius" [fillColor]="fillCircleColor(cl)" [visible]="circleVisible"
            (circleClick)="onCircleClicked(cl)">
          </agm-circle>
          <div *ngIf="circleClicked">
            <agm-marker *ngFor="let item of vehicles" [latitude]="item.position_lat"
              [longitude]="item.position_lng" (markerClick)="onVehicleChosen(item)">
              <agm-info-window *ngIf="chosenVehicle">
                <strong>Status: {{ chosenVehicle._battery_id.status }}</strong>
              </agm-info-window>
            </agm-marker>
          </div>
        </agm-map>
      </div>
      <h3> Vehicle List</h3>
      <div class="filters dark-theme-container">
        <h4>Filters:</h4>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <mat-select>
            <mat-option>
              Name1
            </mat-option>
            <mat-option>
              Name2
            </mat-option>
            <mat-option>
              Name3
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select>
            <mat-option>
              Status1
            </mat-option>
            <mat-option>
              Status2
            </mat-option>
            <mat-option>
              Status3
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Battery</mat-label>
          <mat-select>
            <mat-option>
              Battery1
            </mat-option>
            <mat-option>
              Battery2
            </mat-option>
            <mat-option>
              Battery3
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="list_of_vehicles">
        <mat-accordion>
          <mat-expansion-panel class="vehicle_list" *ngFor="let vh of vehicles" (click)="onVehicleChosen(vh)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ vh.model }}
              </mat-panel-title>
              <mat-panel-description style="flex: 0 0 auto;">
                Charge: {{ vh._battery_id.charge }}%
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Additional information about vehicle goes here</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
  </div>
  </div>
</body>
