/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/theming';
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
@import '~@angular/material/theming';

@include mat-core();
$md-mcgpalette0: (
    50 : #eef0f3,
    100 : #d5d9e0,
    200 : #b9c0cc,
    300 : #9ca6b7,
    400 : #8793a7,
    500 : #728098,
    600 : #6a7890,
    700 : #5f6d85,
    800 : #55637b,
    900 : #42506a,
    A100 : #c3d8ff,
    A200 : #90b7ff,
    A400 : #5d96ff,
    A700 : #4485ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$md-mcaccent: (
    50 : #e1f2ff,
    100 : #b5dfff,
    200 : #83caff,
    300 : #51b4ff,
    400 : #2ca4ff,
    500 : #0794ff,
    600 : #068cff,
    700 : #0581ff,
    800 : #0477ff,
    900 : #0265ff,
    A100 : #ffffff,
    A200 : #f2f7ff,
    A400 : #bfd5ff,
    A700 : #a6c3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #fc376e,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-warn: (
    50 : #ffe7ee,
    100 : #fec3d4,
    200 : #fe9bb7,
    300 : #fd739a,
    400 : #fc5584,
    500 : #fc376e,
    600 : #fc3166,
    700 : #fb2a5b,
    800 : #fb2351,
    900 : #fa163f,
    A100 : #ffffff,
    A200 : #fff6f8,
    A400 : #ffc3cc,
    A700 : #ffaab7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($md-mcgpalette0,500);
$accent: mat-palette($md-mcaccent, 500, 200, 900);
$warn: mat-palette($md-warn);
$theme: mat-dark-theme($primary, $accent, $warn); // Or mat-dark-theme

$mat-dark-theme-background: (
  raised-button: white,
  focused-button: white,
  dialog: white,
);
@include angular-material-theme($theme);
html, body { height: 100%;
  background-color: #283040;
  color: white }


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.mat-dialog-container {
  background-color: #283040;
  height: fit-content;
  min-height: fit-content;
}


/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: #0795ff;
}

* {
  font-family: Arial, Helvetica, sans-serif;
 }

 p, table {
   font-size: 12px ;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h4{
  color: #ffffff;
}
.mat-accordion{
  border-color: transparent!important;
}
mat-card{
  border-radius: 1px!important;
}

.backdropBackground {
  backdrop-filter: blur(8px);
}

.mat-menu-content:not(:empty){
 background-color: #283040;
}

.mat-expansion-indicator::after {
  color: #728098!important;
}
